<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SepCommerce{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/foundation.css') }}" />
       {# <link rel="stylesheet" href="{{ url_for('static',filename='css/normalize.css') }}" /> #}
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />
        {% block css %}{% endblock %}
        <script src="{{ url_for('static',filename='js/vendor/modernizr.js') }}"></script>
        {# <script src="{{ url_for('static',filename='js/vendor/fastclick.js') }}"></script> #}
        <script src="{{ url_for('static',filename='js/vendor/jquery.js') }}"></script>
        {# <script src="{{ url_for('static',filename='js/vendor/jquery.cookie.js') }}"></script>
        <script src="{{ url_for('static',filename='js/vendor/placeholder.js') }}"></script> #}
        <script src="{{ url_for('static',filename='js/core.js') }}"></script> 
        <script src="{{ url_for('static',filename='js/foundation.min.js') }}"></script>
        {# <script src="{{ url_for('static',filename='js/foundation/foundation.abide.js') }}"></script>
        <script src="{{ url_for('static',filename='js/foundation/foundation.accordion.js') }}"></script>
        <script src="{{ url_for('static',filename='js/foundation/foundation.alert.js') }}"></script>
        <script src="{{ url_for('static',filename='js/foundation/foundation.clearing.js') }}"></script> #}
        {# <script src="{{ url_for('static',filename='js/foundation/foundation.dropdown.js') }}"></script> #}
        {# <script src="{{ url_for('static',filename='js/foundation/foundation.equalizer.js') }}"></script>
        <script src="{{ url_for('static',filename='js/foundation/foundation.interchange.js') }}"></script>
        <script src="{{ url_for('static',filename='js/foundation/foundation.joyride.js') }}"></script>
        <script src="{{ url_for('static',filename='js/foundation/foundation.js') }}"></script>
        <script src="{{ url_for('static',filename='js/foundation/foundation.reveal.js') }}"></script>
        <script src="{{ url_for('static',filename='js/foundation/foundation.orbit.js') }}"></script>
        <script src="{{ url_for('static',filename='js/foundation/foundation.offcanvas.js') }}"></script>
        <script src="{{ url_for('static',filename='js/foundation/foundation.magellan.js') }}"></script>
        <script src="{{ url_for('static',filename='js/foundation/foundation.slider.js') }}"></script>
        <script src="{{ url_for('static',filename='js/foundation/foundation.tab.js') }}"></script>
        <script src="{{ url_for('static',filename='js/foundation/foundation.tooltip.js') }}"></script>
        <script src="{{ url_for('static',filename='js/foundation/foundation.topbar.js') }}"></script> #}
        {% block js_head %}{% endblock %}
    </head>
    <body>        
        <nav id="toppest" class="top-bar" data-topbar role="navigation">
          <ul class="title-area">
            <li class="name">
              <h1><a href="{{url_for('main.index')}}">SepCommerce</a></h1>
            </li>
             <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>

          <section class="top-bar-section">
            <!-- Right Nav Section -->
{#             <ul class="right">
              <li class="active"><a href="#">Right Button Active</a></li>
              <li class="has-dropdown">
                <a href="#">Right Button Dropdown</a>
                <ul class="dropdown">
                  <li><a href="#">First link in dropdown</a></li>
                  <li class="active"><a href="#">Active link in dropdown</a></li>
                </ul>
              </li>
            </ul> #}

            <!-- Left Nav Section -->
            {% if current_user.is_authenticated %}
                {% if current_user.role.name == "Administrator" %}
                <ul class="left has-dropdown">
                    <li class="has-dropdown">
                        <a href="#">hello {{current_user.username}}</a>
                        <ul class="dropdown">
                            <li><a href="{{url_for('admin.index')}}">Admin Panel</a></li>
                            <li><a href="#">My Messages</a></li>
                            <li><a href="{{url_for('auth.logout')}}">Logout</a></li>
                        </ul>
                    </li>
                </ul> 

                {% else %}
                <ul class="left has-dropdown">
                    <li class="has-dropdown">
                        <a href="#">hello {{current_user.username}}</a>
                        <ul class="dropdown">
                            <li><a href="#">My Profile</a></li>
                            <li><a href="#">Wish List</a></li>
                            <li><a href="#">My Orders</a></li>
                            <li><a href="#">My Messages</a></li>
                            <li><a href="{{url_for('auth.logout')}}">Logout</a></li>
                        </ul>
                    </li>
                </ul>     
                {% endif %}      
            <ul class="right">
                <li><a href="#">Basket: 0.0 Rial</a></li>
            </ul> 
            {% else %}
            <ul class="left">
                <li><a href="{{url_for('auth.login')}}" title="">Login/Register</a></li>
            </ul>
            {% endif %}
          </section>
        </nav>
        {% block content %}{% endblock %}
        {% include 'footer.html' %}
        <script>
        $(document).foundation();
        </script>
        {% block js_body %}{% endblock %}
    </body>
</html>
