{% extends "base.html" %}
{% from "_macros.html" import header_categories %}
{% block title %} | Home{% endblock %}
{%- block css %}
<!-- Bootstrap -->
{%- endblock css %}

{% block content -%}
{# <div class="row">
	<div class="small-12 columns">
		<h1>Sepehr Demo</h1>
	</div>
</div> #}
<div class="row">
	<div class="medium-12 columns">
		<ul class="example-orbit-content" data-orbit>
		  <li>
		    <img src="{{url_for('static', filename='img/slider/5.jpg')}}" alt="slide 1" />
	{# 	    <div class="orbit-caption">
		      Caption One.
		    </div> #}
		  </li>
		  <li class="active">
		    <img src="{{url_for('static', filename='img/slider/6.jpg')}}" alt="slide 2" />
	{# 	    <div class="orbit-caption">
		      Caption Two.
		    </div> #}
		  </li>
		  <li>
		    <img src="{{url_for('static', filename='img/slider/7.jpg')}}" alt="slide 3" />
	{# 	    <div class="orbit-caption">
		      Caption Three.
		    </div> #}
		  </li>
		</ul>
	</div>
{# 	<div class="medium-3 columns">
		
	</div> #}		
</div>
<div class="row">
	<nav id="toppest" class="top-bar" data-topbar role="navigation">

      <section class="top-bar-section">
        <ul class="left">
            <li class="has-dropdown">
                <a href="#">Browse Store</a>
                <ul class="dropdown">
                    <li><a href="#">All Products</a></li>
                    {% for category in index_categories() %} 
                    {{header_categories(category)}}                 
                    {% endfor %}
                    <li><a href="#">Offers</a></li>
                </ul>
            </li>
        </ul>
        <ul class="right">
        	<li><input type="text" placeholder="Search"></input></li>
        	
        	<li><button>Search</button></li>
        </ul>
      </section>
    </nav>
    <div class="medium-12 columns" id="index-inside">
    	<hr>
    	<ul class="medium-block-grid-5 small-block-grid-2">
    		{% for product in index_products() %}
		  	<li class="products-li">
		  		<a href="{{product.self_url()}}"><img class="th" src="{{product.get_image()}}"></a>
		  		<a href="{{product.self_url()}}"><p>{{product.name}}</p></a>
		  		<p>{{product.price}} Rial</p>
		  		<a data-price="{{product.price}}" data-url="{{product.addto_basket_url()}}" class="button add-to-basket" title="">Add To Basket</a>
		  	</li>

    		{% endfor %}
		</ul>
    </div>
		
</div>
{%- endblock content %}

{% block scripts %}
{{super()}}
{%- endblock scripts %}