#toppest {
	background-color: #383961; 
}
.top-bar-section li:not(.has-form) a:not(.button) {
	background: #383961;
}
.orbit-bullets-container {
	display: none;
}
body {
	background-color: #EEEEEE;
}
#index-inside {
	background-color: white;
	min-height: 400px;
	/*border: 1px solid black;*/
}
.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
	background-color:#383961;
}