{% extends "admin/base.html" %}

{% block admin_content %}

<div class="medium-12">
	<h2>Categories</h2>
	<table class="table table-striped" style="width:100%">
		<tr>
			<th>id</th>
			<th>Name</th>
		    <th>Parent Name</th>
		    <th>settings</th>
		</tr>
		{% for category in categories %}
		<tr>
	    	<th>{{ category.id }}</th>
	    	<th>{{ category.name }}</th>
	    	<th>{{ category.parent.name }}</th>
	    	<th>
	    		{% if not category.childs %}
	    		<a href="{{url_for('admin.remove_category', id=category.id)}}">Remove</a>
	    		{% endif %}
	    		<a>Edit</a>
	    	</th>
	  	</tr>
    	{% endfor %}
	</table>
	<a class="button" href="{{url_for('admin.add_category')}}">Add Category</a>
</div>

{% endblock %}