{% extends "admin/base.html" %}

{% block admin_content %}
<div class="col-md-12">
	<h2>Music List</h2>
	<table class="table table-striped" style="width:100%">
		<tr>
			<th>id</th>
			<th>Name</th>
		    <th>Artists</th>
		    <th>Album</th>
		    <th>Release Date</th>
		    <th>Owner</th>
		    <th>Price</th>
		    <th>Genre</th>
		</tr>
		{% for music in musics %}
		<tr>
	    	<td>{{ music.id }}</td>
	    	<td>{{ music.name }}</td>
	    	<td>{% for music in music.artists %}{{music.username}} {%endfor%}</td>
	    	<td>{{ music.albumobj.name }}</td>
	    	<td>{{ music.release_date }}</td>
	    	<td>{{ music.owner.username }}</td>
	    	<td>{{ music.price }}</td>
	    	<td>{{ music.genre.name }}</td>
	  	</tr>
    	{% endfor %}
	</table>
</div>
{% endblock %}