{% extends "admin/base.html" %}

{% block admin_content %}

<div class="medium-12">
	<h2>Product List</h2>
	<table class="table table-striped" style="width:100%">
		<tr>
			<th>id</th>
			<th>Name</th>
		    <th>Category</th>
		    <th>Price</th>
		    <th>Count</th>
		    <th>Offer</th>
		    <th>Image</th>
		</tr>
		{% for product in products %}

		<tr>
	    	<th>{{ product.id }}</th>
	    	<th><a href="{{url_for('admin.edit_product', id=product.id)}}">{{ product.name }}</a></th>
	    	<th>{{ product.category.name }}</th>
	    	<th>{{ product.price }}</th>
	    	<th>{{ product.count }}</th>
	    	<th>{{ product.offer }}</th>
	    	<th style="max-width:100px"><img src="{{product.image}}" alt=""></th>
	  	</tr>
    	{% endfor %}
	</table>
	<a class="button" href="{{url_for('admin.add_product')}}">Add Product</a>
</div>

{% endblock %}